:root {
    --primary-color: #237c66;
    --primary-light-color: #b1d3a7;

    // text
    --text-light: #FFFFFF;
    --text-dark: #595959;


    // -- Button --
    --primary-button: #237c66;


    // -- Button left menu --
    --primary-left-menu: #FAF8F885;
    --primary-left-menu-hover: #faf8f867;
    --primary-left-menu-active: #FFFFFF;
    --text-active: #237c66;
    --border-left-menu: #FFFFFF;

}